<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
        package="org.mortalis.wrapkeyboardabc"
        android:versionCode="130"
        android:versionName="@string/app_version">
    
    <supports-screens
            android:anyDensity="true"
            android:largeScreens="true"
            android:normalScreens="true"
            android:smallScreens="true" />
    
    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="26" />
    
    <application
      android:label="@string/ime_name"
      android:icon="@mipmap/ic_launcher"
    >
      <service android:name=".WrapKeyboard"
               android:permission="android.permission.BIND_INPUT_METHOD">
        <intent-filter>
            <action android:name="android.view.InputMethod" />
        </intent-filter>
        <meta-data android:name="android.view.im" android:resource="@xml/method" />
      </service>

      <activity
        android:name=".settings.SettingsActivity"
        android:label="@string/settings_name"
        android:theme="@style/SettingsTheme">
        <intent-filter>
          <action android:name="android.intent.action.MAIN"/>
        </intent-filter>
      </activity>
      
      <!-- <activity
        android:name=".ImePreferences"
        android:label="@string/settings_name">
        <intent-filter>
          <action android:name="android.intent.action.MAIN"/>
        </intent-filter>
      </activity> -->
      
    </application>
</manifest>
